<style>
    h2 {
        background-color: red;
        color: darkblue;
    }
</style>

@{
	ViewBag.Title = "About";
}
<h2><b>@ViewBag.Title</b></h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>