
<h2>Registration Page</h2>

<form method="get" action="Result">
	<p>First Name: </p><input name="firstName" value="Katie" />
	<br />
	<p>Last Name: </p><input name="lastName" value="Mollhagen" />
	<br />
	<p>Email: </p><input name="email" type="email" value="kcmollhagen@gmail.com" />
	<br />
	<p>Phone Number: </p><input name="phoneNumber" type="tel" value="555-555-5555" />
	<br />
	<p>Password: </p><input name="password" type="password" value="superSecretGoodPassword!1" />
	<input type="submit" />
</form>
